%img.avatar(src='/images/avatar.png')
.title-bar
  .left Michael Harrington
  .right Level 22
.hp-bar
  .left HP
  .right 1337/1337
.mp-bar
  .left MP
  .right 420/420
.sub-content.half
  %p Michael Harrington is a rebel programmer, and master of the most deadly programming styles, including TDD style.
  %p According to legend, he was born with a keyboard in his hand. He will stop at nothing to become The Grand Codemaster.
