%img.avatar(src='/images/avatar.png')
.title-bar
  .left Michael Harrington
  .right Level 22
.hp-bar
  .left HP
  .right 1337/1337
.mp-bar
  .left MP
  .right 420/420
.sub-content
  Hello, welcome to my awesome website!
