= render 'skills_menu'
.skills-content
  - [['C', 3],
    ['C++', 3],
    ['C#', 3],
    ['Java', 2],
    ['Visual Basic', 2],
    ['F#', 1],
    ['Ruby', 3],
    ['Python', 2],
    ['Boo', 2],
    ['COBOL', 1],
    ['JavaScript', 1],
    ['ActionScript 3', 3],
    ['TorqueScript', 2],
    ['Axum', 2],
    ['Objective-C', 2]].sort.each_slice(8) do |languages|
    %ul
      - languages.each do |language, proficiency|
        %li(class="proficiency-#{proficiency}")= language
