@import "blueprint_screen";

$screen_width: 1280;
$screen_height: 768;

@mixin screen-element($type) {
  position: absolute;
  background: {
    image: url(/images/#{$type}-background.png);
    repeat: repeat-x;
  }
  border: {
    width: 4px;
    color: white;
    style: ridge;
  }
}

body {
  color: white;
  background-color: black;
  font: {
    family: OCR A Std;
    size: 18pt;
    weight: bold;
  }
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: white;
}

$content_width: 1024;
$content_height: 640;

.content {
  @include screen-element("content");
  min-height: 540px;
  left: 32px;
  top: 64px;
  bottom: 64px;
  right: 224px;
}

$menu_width: 256;
$menu_height: 448;

@mixin selectable {
  &.selected {
    background: {
      image: url(/images/selected-arrow.png);
      repeat: no-repeat;
    }
  }
  &:hover {
    background: {
      image: url(/images/hover-arrow.png);
      repeat: no-repeat;
    }
  }
}

.menu {
  @include screen-element("menu");
  top: 32px;
  right: 32px;
  width: 256px;
  height: 348px;
  ul {
    padding: {
      top: 24px;
      left: 4px;
      bottom: 24px;
      right: 4px;
    }
    li {
      padding-left: 32px;
      @include selectable;
    }
    .last {
      position: absolute;
      bottom: 16px;
    }
  }
}

$misc_width: 256;
$misc_height: 107;

.misc {
  @include screen-element("misc");
  right: 32px;
  bottom: 96px;
  width: 256px;
  height: 107px;
  ul {
    padding: {
      top: percentage(8 / $misc_height);
      left: percentage(16 / $misc_width);
      bottom: percentage(8 / $misc_height);
      right: percentage(16 / $misc_width);
    }
  }
}

.footer {
  @include screen-element("footer");
  position: absolute;
  width: 512px;
  height: 48px;
  right: 32px;
  bottom: 32px;
  padding: {
    top: percentage(8 / $screen_height);
    left: percentage(16 / $screen_width);
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  float: clear-both;
}

$status_element_width: 617px;
$status_element_height: 40px;

@mixin status-element {
  position: absolute;
  width: $status_element_width;
  height: $status_element_height;
  .left {
    margin: {
      top: 4px;
      left: 16px;
      bottom: 4px;
    }
  }
  .right {
    margin: {
      top: 4px;
      right: 16px;
      bottom: 4px;
    }
  }
}

.title-bar {
  @include status-element;
  left: 320px;
  top: 32px;
}

.hp-bar {
  @include status-element;
  left: 320px;
  top: 96px;
  background-image: url(/images/hp-bar.png);
  background-repeat: no-repeat;
}

.mp-bar {
  @include status-element;
  left: 368px;
  top: 120px;
  background-image: url(/images/mp-bar.png);
  background-repeat: no-repeat;
  width: 310px;
  height: 30px;
  font-size: 18px;
  .left {
    margin: {
      top: 3px;
      bottom: 3px;
    }
  }
  .right {
    margin: {
      top: 3px;
      bottom: 3px;
    }
  }
}

$avatar_width: 256px;
$avatar_height: 256px;

.avatar {
  background-image: url(/images/avatar.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 32px;
  width: $avatar_width;
  height: $avatar_height;
}

.sub-content {
  position: absolute;
  height: 100%;
  padding-top: 32px;
  left: 32px;
  right: 96px;
}

.status-content {
  width: 100%;
  padding-top: 32px;
  left: 0;
  height: 50%;
  margin-top: 256px;
}

h1 {
  color: white;
  font-size: 32pt;
}

@mixin browsable-menu {
  @include screen-element("browsable-menu");
  top: 32px;
  left: 0px;
  right: 0px;
  height: 32px;
  padding: 0;
  ul {
    padding: {
      top: 0;
      left: 8px;
      bottom: 0;
      right: 8px;
    }
    li {
      float: left;
      margin-right: 32px;
      padding-left: 32px;
      @include selectable;
    }
  }
}

.items-menu {
  @include browsable-menu;
}

.skills-menu {
  @include browsable-menu;
}

@mixin browsable-content {
  margin-top: 32px;
  padding-top: 32px;
  ul {
    float: left;
    padding: 0;
    margin-right: 32px;
  }
}

.items-content {
  @include browsable-content;
  img {
    float: left;
    margin: {
      left: 8px;
      right: 8px;
    }
  }
}

.item-name {
  float: left;
  &:hover {
    text-decoration: underline;
  }
}

.skills-content {
  @include browsable-content;
}

@mixin proficiency($level) {
  padding-left: 56px;
  background: {
    image: url(/images/proficiency-#{$level}.png);
    repeat: no-repeat;
  }
}

.proficiency-1 {
  @include proficiency(1);
}

.proficiency-2 {
  @include proficiency(2);
}

.proficiency-3 {
  @include proficiency(3);
}

.note {
  padding-left: 64px;
  p {
    margin: 0;
  }
}
